.main
  .main-inner
    .container
      .content
        .row
          .col-sm-6.col-sm-offset-4
            .page-title
              %h1
                Login
            -#=render 'shared/messages'
            = form_tag sessions_path do
              .form-group
                = label_tag :email
                = email_field_tag :email, nil, class: "form-control", placeholder: "Your e-mail address"
              .form-group
                = label_tag :password
                = password_field_tag :password, nil, class: "form-control", placeholder: "Your password"
              %button.btn.btn-primary.pull-right
                Login