.main
  .main-inner
    .container
      .content
        .row
          .col-sm-6.col-sm-offset-4
            .page-title
              %h1
                Register
            -#=render 'shared/messages'
            = bootstrap_form_for @user, url: register_path do |f|
              = f.text_field :first_name
              = f.text_field :last_name
              = f.email_field :email
              = f.password_field :password
              = f.submit "Register", class: "btn btn-primary pull-right"