.main
  .main-inner
    .container
      .content
        .row
          .col-sm-4.col-lg-4
            .sidebar
              .widget
                .user-photo
                  =link_to "#" do
                    =image_tag "agent-2.jpg", alt: @user.full_name
                    %span.user-photo-action
                      Profile image
          .col-sm-8
            .background-white.p20.mb50
              %h2.page-title
                User profile
              .form-horizontal
                .form-group
                  %label.col-sm-2.control-label
                    First name:
                  .col-sm-10.form-control-static
                    = @user.first_name
                .form-group
                  %label.col-sm-2.control-label
                    Last name:
                  .col-sm-10.form-control-static
                    = @user.last_name
                .form-group
                  %label.col-sm-2.control-label
                    E-mail:
                  .col-sm-10.form-control-static
                    = @user.email
          .col-sm-8
            %h2#reviews
              = "#{@user.reviews.size} Review(s)"
            - @reviews.each do |review|
              .comments
                .comment
                  .comment-inner
                    .comment-header
                      %h2
                        = link_to review.company.name, company_path(review.company)
                      %span.separator
                        &#8226;
                      %span.comment-date
                        = review.created_at
                    .comment-content-wrapper
                      .comment-content
                        %p
                          = review.content