.main
  .main-inner
    .content
      .mt-80.mb80
        .detail-banner{style: "background-image: url("+image_path("detail-banner-1.jpg")+");"}
          .container
            .detail-banner-left
              .detail-banner-info
                .detail-label
                  = @company.category_name
              %h2.detail-title
                = @company.name
              .detail-banner-address
                %i.fa-fa-map-o
                = @company.full_address
      .container
        .row.detail-content
          .col-sm-5
            %h2
              About
              %span.text-secondary
                = @company.name
            .background-white.p20
              .detail-vcard
                .detail-logo
                  =image_tag @company.logo_url
                .detail-contact
                  .detail-contact-email
                    %i.fa.fa-envelope-o
                    = @company.email
                  .detail-contact-phone
                    %i.fa.fa-mobile.phone
                    = @company.phone
                  .detail-contact-website
                    %i.fa.fa-globe
                    = @company.website_url
                  .detail-contact-address
                    %i.fa.fa-map-o
                    = @company.full_address
              .detail-description
                %p= @company.description
          - @reviews.each do |review|
            .col-sm-7
              %h2#reviews
                Reviews
              .reviews
                .testimonial
                  .testimonial-image
                    =image_tag "agent-3.jpg", alt: review.user.full_name
                  .testimonial-inner
                    = review.content
                    .testimonial-sign
                      =link_to "- #{review.user.full_name}", user_path(review.user_id)
          .col-sm-12
            %h2
              Add a review
            -#%form.background-white.p20.add-review
            = form_for [@company, Review.new] do |f|
              .row
                .form-group.col-sm-12
                  -#%textarea.form-control{rows: 5}
                  = f.text_area :content, class: 'form-control', rows: 5
              .row
                .col-sm-4
                  %button.btn.btn-primary.btn-block
                    %i.fa.fa-star
                    Submit Review
                .col-sm-4
                  %button.btn.btn-info.btn-block
                    %i.fa.fa-star
                    = link_to "Cancel", @company
