.main
  .main-inner
    .content
      .mt-80.mb80
        .detail-banner{style: "background-image: url("+image_path("detail-banner-1.jpg")+");"}
          .container
            .detail-banner-left
              .detail-banner-info
                .detail-label
                  = @company.category_name
              %h2.detail-title
                = @company.name
              .detail-banner-address
                %i.fa-fa-map-o
                = @company.address
      .container
        .row.detail-content
          .col-sm-5
            %h2
              About
              %span.text-secondary
                = @company.name
            .background-white.p20
              .detail-vcard
                .detail-logo
                  =image_tag @company.logo_url
                .detail-contact
                  .detail-contact-email
                    %i.fa.fa-envelope-o
                    = @company.email
                  .detail-contact-phone
                    %i.fa.fa-mobile.phone
                    = @company.phone
                  .detail-contact-website
                    %i.fa.fa-globe
                    = @company.website_url
                  .detail-contact-address
                    %i.fa.fa-map-o
                    = @company.address
              .detail-description
                %p= @company.description
          -#.col-sm-7
          -#  %h2#reviews
          -#    Reviews
          -#  .reviews
          -#    .testimonial
          -#      .testimonial-image
          -#        =image_tag "agent-3.jpg", alt: "Full name"
          -#      .testimonial-inner
          -#        Quisque aliquet ornare nunc in viverra. Nullam ornare molestie ligula in luctus. Suspendisse ac cursus elit. Donec vel enim sit amet lorem vulputate condimentum.
          -#        .testimonial-sign
          -#          =link_to "- Full name", nil
          -#    .testimonial
          -#      .testimonial-image
          -#        =image_tag "agent-2.jpg", alt: "Full name"
          -#      .testimonial-inner
          -#        Quisque aliquet ornare nunc in viverra. Nullam ornare molestie ligula in luctus. Suspendisse ac cursus elit. Donec vel enim sit amet lorem vulputate condimentum.
          -#        .testimonial-sign
          -#          =link_to "- Full name", nil
          -#    .testimonial
          -#      .testimonial-image
          -#        =image_tag "agent-1.jpg", alt: "Full name"
          -#      .testimonial-inner
          -#        Quisque aliquet ornare nunc in viverra. Nullam ornare molestie ligula in luctus. Suspendisse ac cursus elit. Donec vel enim sit amet lorem vulputate condimentum.
          -#        .testimonial-sign
          -#          =link_to "- Full name", nil
          -#.col-sm-12
          -#  %h2
          -#    Add a review
          -#  %form.background-white.p20.add-review
          -#    .row
          -#      .form-group.col-sm-12
          -#        %textarea.form-control{rows: 5}
          -#    .row
          -#      .col-sm-4
          -#        %button.btn.btn-primary.btn-block
          -#          %i.fa.fa-star
          -#          Submit Review
          -#      .col-sm-4
          -#        %button.btn.btn-info.btn-block
          -#          %i.fa.fa-star
          -#          Cancel